<div class="container" style="background:url({{ '/static/images/privchat/pattern.png' }}) no-repeat center; background-size: contain;">
  <div class="w-50 text-center mx-auto">
    <img class="img-fluid p-3" height="auto" src="{{ '/static/images/privchat/privchat.svg' }}" /> <h1 class="display-2 text-primary">PrivChat</h1>
    <p class="text-primary p-3"> a conversation about tech, human rights, <br/>and internet freedom brought to you by the Tor Project</p>
  </div>
</div>

<div class="container pb-3 mt-5 preamble">
  <p>
    PrivChat is a fundraising event series held to raise donations for the Tor Project. Through PrivChat, we will bring you important information related to what is happening in tech, human rights, and internet freedom by convening experts for a chat with our community.
  </p>
  <hr class="mt-5"/>
</div>

<div class="container py-3 mt-5">
    <p class="h2 text-primary" target="_blank">Chapter #5 - Protection against Pegasus</p>
    <a class="btn btn-small bg-primary text-light my-4" href="https://youtu.be/4ovmcZtaacY" target="_blank"><i class="mr-2 pt-1 fas fa-play-circle-png"></i> {{ _("Watch") }} </a>
    <div>
    <p class="font-family-serif">
      Every year, governments, law enforcement agencies, militaries, and corporations invest billions of dollars into building and buying malicious spyware--software designed to silently infiltrate a user's device and allow attackers to view the contents without detection.
    </p>
    <p class="font-family-serif">
      This year, the Pegasus Project revealed that users of this kind of spyware, known as Pegasus and built by the NSO group, had targeted the phones that belong to thousands of people in more than 50 countries, including business executives, politicians, journalists, and human rights activists.
    </p>
    <p class="font-family-serif">
    In this edition of PrivChat, join <strong>Likhita</strong> and <strong>Etienne Maynier</strong> of Amnesty International and <strong>John Scott-Railton</strong> of Citizen Lab to discuss:
      <ul>
        <li>What individuals, journalists, activists, and human rights defenders can do to protect themselves against sophisticated spyware?</li>
	<li>What kind of organizations can we support to help stop this abuse?</li>
	<li>Who is working on safer, more private software that we can trust?</li>
      </ul>
    </p>
    <p class="font-family-serif">
    <strong>Roger Dingledine</strong>, Co-Founder of the Tor Project, will join us as our host and moderator.
    </p>
    </div>
</div>

<div class="container pt-5 justify-content-center">

    <h4>Host</h4>

    <div class="row">
      <div class="container">
      <div class="card flex-row flex-wrap py-3">
        <div class="col-3">
            <img class="card-img-top" src="{{ '/static/images/privchat/roger.png' }}" alt="">
        </div>
        <div class="col">
          <div class="card-block px-2">
              <div class="pb-4">
                <h4 class="display-4 text-primary">Roger Dingledine</h4>
                <strong class="display-5 text-primary mb-4">President & Co-Founder, the Tor Project</strong>
              </div>
	      <p class="text-tpo"><strong>Roger Dingledine</strong> is president and co-founder of the Tor Project, a nonprofit that develops free and open source software to protect people from tracking, censorship, and surveillance online. He works with journalists and activists on many continents to help them understand and defend against the threats they face. Roger was chosen by the MIT Technology Review as one of its top 35 innovators under 35, he co-authored the Tor design paper that won the Usenix Security "Test of Time" award, and he has been recognized by Foreign Policy magazine as one of its top 100 global thinkers.</p>
          </div>
        </div>
      </div>
      </div>
    </div>

  <h4 class="mt-5">Participants</h4>

  <div class="row">
    <div class="container">

    <div class="card flex-row flex-wrap py-3 mb-5">
      <div class="col-3">
          <img class="card-img-top" src="{{ '/static/images/privchat/likhita.jpg' }}" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
            <div class="pb-4">
              <h4 class="display-4 text-primary">Likhita</h4>
              <strong class="display-5 text-primary mb-4">Researcher/Adviser - Technology and Human Rights, Amnesty International</strong>
            </div>
	    <p class="text-tpo"><strong>Likhita</strong> works as a Researcher and Adviser for Amnesty International's Technology and Human Rights Programme. At present, she is involved in researching targeted surveillance and internet shutdowns. She has researched online hate speech against women and minority populations in India. Previously, she also researched and exposed challenges faced by human rights defenders in India and worked extensively on hate crimes in the country. Likhita holds a master's degree in Human Rights and Humanitarian Action from Sciences Po.</p>
        </div>
      </div>
    </div>

    <div class="card flex-row flex-wrap py-3 mb-5">
      <div class="col-3">
          <img class="card-img-top" src="{{ '/static/images/privchat/etienne.jpg' }}" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
            <div class="pb-4">
              <h4 class="display-4 text-primary">Etienne Maynier</h4>
              <strong class="display-5 text-primary mb-4">Amnesty International's Security Lab</strong>
            </div>
	    <p class="text-tpo"><strong>Etienne Maynier</strong> (he/him) is an activist and researcher who investigates the impact of targeted surveillance on NGOs and human rights defenders. He is currently working as Technologist in the Amnesty International's Security Lab doing technical research.</p>
        </div>
      </div>
    </div>

    <div class="card flex-row flex-wrap py-3 mb-5">
      <div class="col-3">
          <img class="card-img-top" src="{{ '/static/images/privchat/jsr.jpg' }}" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
            <div class="pb-4">
              <h4 class="display-4 text-primary">John Scott-Railton</h4>
              <strong class="display-5 text-primary mb-4">Senior Researcher, Citizen Lab</strong>
            </div>
	    <p class="text-tpo"><strong>John Scott-Railton</strong> is a Senior Researcher at Citizen Lab (at The University of Toronto). His work focuses on technological threats in civil society, including targeted malware operations, cyber militias, and online disinformation. His greatest hits include a collaboration with colleague Bill Marczak that uncovered the first iPhone zero-day and remote jailbreak seen in the wild, as well as the use of Pegasus spyware to human rights defenders, journalists, and opposition figures in Mexico, the UAE, Canada, and Saudi Arabia. Other investigations with Citizen Lab colleagues include the first report of ISIS-led malware operations, and China's "Great Cannon," the Government of China's nation-scale DDoS attack. John has also investigated Russian and Iranian disinformation campaigns, and the manipulation of news aggregators such as Google News. John has been a fellow at Google Ideas and Jigsaw at Alphabet. He graduated with a University of Chicago and a Masters from the University of Michigan. He is completing a Ph.D. at UCLA. Previously he founded The Voices Projects, collaborative information feeds that bypassed internet shutdowns in Libya and Egypt. John's work has been covered by Time Magazine, BBC, CNN, The Washington Post, and the New York Times.</p>
        </div>
      </div>
    </div>
    
</div>


<div class="container">
  <div class="row bg-secondary p-5 mx-1 my-5">
    <h1><i class="fas fa-hand-holding-usd px-5 text-light"></i></h1>
    <h3 class="preamble text-light text-center mx-auto">Your donations make this series and our work at Tor possible. <br/> The best way to support our work is to <a class="text-success" href="https://donate.torproject.org/monthly-giving" target="_blank">become a monthly donor.</a></h3>
  </div>
</div>
